<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>芝麻信用认证</title>
<meta http-equiv="Expires" content="-1"/>               
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache"/> 
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/zm/jquery.mobile-1.4.2.min.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/zm/basic.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/zm/common.css}" />
</head>

<script type="text/javascript">
</script>
<body >
        <div class="wrapper">
          <div class="sq-wrap"> 
              <img th:src="@{/images/zm/logo.png}" height="539" width="393" alt="" class="logo"/>
              <p>良好的信用记录便于您申请订单</p>
	          <div  class="btn h-btn">已授权</div>
              <span><img th:src="@{/images/zm/dp.png}" alt=""/>银行级数据加密防护</span>
           </div>
        </div>
</body>
</html>