/*鑼呴埀顑犫埗褉锟芥緵鈥揝S css蹇欒伜鑼犺寘閳ッ峰禍顕峰瘋顡痬portant > 姘撻垾鐘拷纬顭婁讲锟斤拷 > ID > 鑾藉崵绂� > 蹇欒伣閳モ埗顬狀劵锟� | 鐩插綍闄嬭幗鍗ょ | 姘撳崵鍟繖閳ь儩顬♀斁鍋撻垾鎳婏腹锟藉锟� > 鐩插綍闄嬫皳鐐夐箍鐚崵闅� > 鑾界鎼傚繖閳ュゥ锟� > 鑼呴埀顑犫埗鈹撅拷尾宓滎灎顑濓拷 鑼呴埀顑犫埗鈹撅拷尾宓滎灎顑濓拷 > 鑾界鎼傚繖閳ュゥ锟�*/
/*鐩查箍濞勬皳閳ョ姭鍔夎寘闅嗘綖姘撴綖鑱尗鎼傞垾鐏汇儖鍡忓妷
  姘撳簮鎷х洸闄嗚仹姘撳崵鍟繖閳ь儩顬☆嚪濡撳枹尾顖楋拷婢濄儌锔癸拷姣嚪瀵傤摢isplay鑼傚綍鑹� position鑼傚綍鑹� float鑼傚綍鑹� clear鑼傚綍鑹� visibility鑼傚綍鑹� table-layout鑾介閳ユ噴顕峰皷锟斤拷
  鐚垾梅顎㈩煀閮濐個銉傝扛涔咃腹鍋撴悅鑼傚綍钘涘繖鐐夐垾婢濄儌锔癸拷姣嚪瀵傤摻idth鑼傚綍鑹� height鑼傚綍鑹� margin鑼傚綍鑹� padding鑼傚綍鑹� border鑾介閳ユ噴顕峰皷锟斤拷
  蹇欓垾鎾拷鈭段垫拃顑炪儌杩镐箙锔瑰亾鎼傝寕褰曡棝蹇欑倝閳ユ緷銉傦腹锟芥顕峰瘋顡琽nt鑼傚綍鑹� line-height鑼傚綍鑹� text-align鑼傚綍鑹� text-indent鑼傚綍鑹� vertical-align鑾介閳ユ噴顕峰皷锟斤拷
  姘撻垾尾鐫广仮鐑╋拷鎾併儌杩镐箙锔瑰亾鎼傝寕褰曡棝蹇欑倝閳ユ緷銉傦腹锟芥顕峰瘋顡﹐lor鑼傚綍鑹� background鑼傚綍鑹� opacity鑼傚綍鑹� cursor鑼傚綍鑹梒ontent鑼傚綍鑹� list-style鑼傚綍鑹� quotes鑾介閳ユ噴顕峰皷锟斤拷*/
*{
    padding:0;
    margin: 0;
    border: 0 none;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}
html, body, div, span, h1, h2, h3, p, em, img, dl, dt, dd, ol, ul, li, table, tr,th,td, form,input,select{
    margin:0;
    padding:0;
}
* html iframe, * html frame{
    overflow:auto;
}
* html frameset,.o_hidden{
    /*IE7--鐩茶祩閳ュ銉拷尾娴庛儌顔欑verflow:hidden姘撹墿鑱絧osition*/
    position: relative;
    overflow: hidden;
}
/*鐚悅鎷㈡皳閳ョ妳瓒佈�锟芥緵锟�-webkit-overflow-scrolling: touch 姘撳綍閳モ挌顭婂痉璁款灒鈾�锟界伝尾鎱屸埗銉呯妳顭嬑叉緵锟�*/
::-webkit-scrollbar {
  display: none;
}
body{
    /*姘撴菠绂勮寘閳┾挋銇ｃ儌闊啔銇㈡煰鈭段插槑璇ヮ煀顬╁枹銉㈠妷绡揳蹇欒伣閳モ埗顬狀劵涔呫儮锟轿舵崡顬犵话鐘喲�锟芥濮戙儮锟矫峰够顬ｂ檧锟界伝锔癸拷鏂呯澒銉㈠亾閳┾挌銉拷梅濂筋灒閾版噴銊拷婧屾緷銊拷濂ヨ顬ｂ檧锟界伝顭婇煭濮懳测檧锟斤拷*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "helvetica neue", helvetica, stheiti, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    color: #000;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 鐩查┐搴愬繖棰呮嫝IE5.x姘撻垾娅墳E6鑾芥嫥閳ョ伝锔癸拷鎾嗘拋銇㈣В锟芥簫尾閮濃挌銉拷梅绡祏g鑾界钘� */
a,*[onclick],._cursor{
    cursor: pointer;
}
/* 姘撴菠绂勫繖娌ら垾鎳娾斁锟芥簩涔呂甸摪銉冾灒鈾�锟界伝銊㈠妷鎷ц幗娼為┐蹇欓殕閳ワ拷 */
a,input,textarea{
    outline:none;
}
/* 鐩查檰椹磋幗閳ヨ　锟芥銉傤劵鎯奉煀顔欌埗顬狀喒锟芥枂銉傤啓鐭敒顐堟簫銇㈠槑宓溿儏鎺嗭拷纬銉傛兊鐜碼dding */
._box_sizing, ._box_sizing:before, ._box_sizing:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
/*鑼呴埀顑斤拷姣�锟芥緵鈺癳xtarea*/
._textarea{
    display: block;
    height: auto;
    width: 100%;
    resize: none;
    overflow: auto;
}
/*鑾界閳ユ簫蔚閿拷鐏活嚪瀵傤摢iv._select>div>select*/
._select{ 
    width: 100%;
    padding: .6em 0 .6em .6em;
    margin-bottom: .8em;
    background: #FFF url('http://res.koudailc.com/article/20160401/356fdf093f2d13.png') no-repeat 97% center;
    background-size: 3%;
    border: 1px solid #F3F3F3;
}
._select div{
    width: 92%;
    overflow: hidden;
}
._select div select{
    width: 109%;
    margin:-3px;
    padding: 3px;
    background: #FFF;
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
._select div select::-ms-expand{
    display: none;
}
/*鑼呴埀顑斤拷姣�锟芥緵鈺put[file]*/
._upload_file{
    position: relative;
    overflow: hidden;
}
._upload_file input[type="file"]{
    /*鐩查檰椹村繖鑹楅垾鎳娾斁锟芥顔氼煀鍫佃秮銉傘仴璇ャ儌銇拷*/
    font-size: 10em; 
    height: 10em;
    position: absolute;
    background: #FFF;
    right: 0;
    top: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter:"alpha(opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}
a:focus{
    outline:none;
    -moz-outline:none;
}
a:hover,a:link,a:active,a:visited,a:focus{
    border: none;
}
a:active{
    star:expression(this.onFocus=this.blur());
}
a.indie{
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    /*-webkit-box-shadow: 0 0 0 1000px #fff inset;*/
}
input:focus{background:transparent}
 /* WebKit browsers,Mozilla Firefox 4 to 18,
 Mozilla Firefox 19+,Internet Explorer 10+ */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
    color: #999999;
}
textarea:-moz-placeholder,
input:-moz-placeholder{
    color: #999999;
} 
textarea::-moz-placeholder,
input::-moz-placeholder{
    color: #999999;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{
    color: #999999;
}
._placeholder{
    color: #999999;
}
em,
i {
  font-style: normal;
}
.clear{
    clear: both;
}
.a_left{
    text-align: left;
}
.a_center{
    text-align: center;
}
.a_right{
    text-align: right;
}
.v_center{
    vertical-align: middle;
}
.v_top{
    vertical-align: top;
    vertical-align: text-top;
}
.v_bottom{
    vertical-align: bottom;
    vertical-align: text-bottom;
}
.scatter {
text-align:justify;
text-justify:distribute-all-lines;/*ie6-8*/
text-align-last:justify;/* ie9*/
-moz-text-align-last:justify;/*ff*/
-webkit-text-align-last:justify;/*chrome 20+*/
}
.m_center{
    margin: auto auto;
}
.f_right{
    float: right;
}
.f_left{
    float: left;
}
.clear_inline_block{
    /*蹇欓湶钘涜寘閳┾挋顦弉line-block姘撻垾味鎹楊灎缁扮妴鈹撅拷鏂呯柕鈹撅拷鏂呯柕顭婁豢锟�*/
    font-size: 0;
}
._hidden{
    display: none;
}
.v_hidden{
    visibility: hidden;
}
.o_hidden{
    /*IE7--鐩茶祩閳ュ銉拷尾娴庛儌顔欑verflow:hidden姘撹墿鑱絧osition*/
    position: relative;
    overflow: hidden;
}
._l_item{
    display: list-item;
    list-style: disc inside;
}
._cursor_noallowed{
    cursor: not-allowed;
}
._inline_block{
    display:inline-block;
     /*_zoom:1;*/
    /**display: inline;*/
}
.p_relative{
    position: relative !important;
}
.p_absolute{
    position: absolute !important;
}
.p_fixed{
    /*ie7 ff*/
    position: fixed !important;
}
.zero_opacity{
    opacity: 0;
    /* Mozilla */
    -moz-opacity: 0;
    /* Safari */
    -khtml-opacity: 0;
    /* IE */
    filter: alpha(opacity=0);
    /* 蹇欓垾鏂咁灐褉锟藉叓鍜篍 */
    -ms-filter:"alpha(opacity=0)";
}
.full_opacity{
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter:"alpha(opacity=100)";
}
._b_radius{
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
}
._b_radius_round{
    border-radius: 999999px;
    -moz-border-radius: 999999px 999999px 999999px 999999px;
    -webkit-border-radius: 999999px;
}
/*姘撳綍娼炴皳钘涢湶蹇欒仹鍨勭尗闅嗚墬*/
._word_wrap{
    /*蹇欒棝闄嬪繖閳ユ拃顒笺儌宥侊拷鈷氼煀顕凤拷*/
    word-break:break-all; 
    /*鐩茶祩鑱у繖钘涢檵蹇欓垾鎾�顒笺儌宥侊拷鈷氼煀顕凤拷*/
    word-wrap:break-word;
}
._word_wrap_no{
    word-break:keep-all; 
    word-wrap:normal;
}
/*鑼呴垾婢熲埗褉锟芥濮戙儌鎰拷妯忋仮姒傜妴銉備籍寰濐灎顬犲够銇㈤摪宓滎灎閾帮拷 鐩查┐鑱鸿幗閳モ懇鍔�*/
.anchor_offset{
    padding-top: 250px;
    margin-top: -250px;
}
.t_underline{
    text-decoration: underline;
}
.t_line_through{
    text-decoration: line-through;
}
._shadow{
    /*box-shadow鑼傚綍鎷one | <shadow> [ , <shadow> ]*
    <shadow> = inset? && [ <length>{2,4} && <color>? ]
    姘撹伀閳ユ拋銉㈠亾褰曡寕褰曟嫥
    none鑼傚綍鎷� 蹇欓垾鏂呯妴鈹ф簩鐤点儌閾帮拷 
    <length>鑺掗垾妯庣妴顕峰瘋锟� 鑾藉崲鍗�1鐩茶祩闄嬭寘閳モ挋妫点儌閮澪炽儮鍋撳綍鑾介垾婢涱煁尾婢涖儍顭婎啓涔咁灎閾邦啔銉傤嚪濮戭煀鐢埗顬ｂ檧锟界伝鈹ф簩鐤点儌閾版车尾濂ョ柕銉傚瓒併儌浼緷顬狀灎骞汇儮鍋撳綍鑼埀顑斤拷姣儌寰涱嚫銇㈠銉冦仮鍢庡ソ顭婄璇ャ儮鍋撳綍 
    <length>鑺掗垾妯庘埗顕峰瘋锟� 鑾藉崲鍗�2鐩茶祩闄嬭寘閳モ挋妫点儌閮澪炽儮鍋撳綍鑾介垾婢涱煁尾婢涖儍顭婎啓涔咁灎閾邦啔銉傤嚪濮戭煀鐢埗顬ｂ檧锟界伝鈹ф簩鐤点儌閾版车銉呴敮锟芥褉锟介儩鐤点儌浼緷顬狀灎骞汇儮鍋撳綍鑼埀顑斤拷姣儌寰涱嚫銇㈠銉冦仮鍢庡ソ顭婄璇ャ儮鍋撳綍 
    <length>鑺掗垾妯庘挌顕峰瘋锟� 姘撳▌閳ユ蔚涔濇拋尾寰涙兎銇㈤敮锟藉ソ銇㈣　锟界妴顬狀儩锟�3鐩茶祩闄嬭寘閳モ挋妫点儌閮澪炽儮鍋撳綍姘撹棝閳┾挌褉锟芥緵顭嬑叉緵銉冾煀顔欎箙顬犻摪顔氥儌顕峰顭婄敪鈭额灒鈾�锟界伝鈹ф簩鐤点儌閾版车尾顭娾埗顬犳拺鐘嗐儮鍋撳綍鑼埀顑斤拷姣仮鍢庡禍銉拷尾浼鳖煀顔欒顭婄璇ャ儮鍋撳綍 
    <length>鑺掗垾妯庯迹顕峰瘋锟� 姘撳▌閳ユ蔚涔濇拋尾寰涙兎銇㈤敮锟藉ソ銇㈣　锟界妴顬狀儩锟�4鐩茶祩闄嬭寘閳モ挋妫点儌閮澪炽儮鍋撳綍姘撹棝閳┾挌褉锟芥緵顭嬑叉緵銉冾煀顔欎箙顬犻摪顔氥儌顕峰顭婄敪鈭额灒鈾�锟界伝鈹ф簩鐤点儌閾版车銉傘倐锟芥拋銉傚鐫广儮鍋撳綍鑼埀顑斤拷姣儌寰涱嚫銇㈠銉冦仮鍢庡ソ顭婄璇ャ儮鍋撳綍 
    <color>鑼傚綍鎷� 鐚簮鎴幗闄嗗簮姘撶倝楣跨尗鍗ら殕鑾芥嫥閳ョ伝鈹ф簩鐤点儌閾版车顬ｂ檧锟界伝鈹炩懘鎾併劉锟藉ゥ瑁侊絺鍋撻垾锟� 
    inset鑼傚綍鎷� 鐚簮鎴幗闄嗗簮姘撶倝楣跨尗鍗ら殕鑾芥嫥閳ョ伝鈹ф簩鐤点儌閾版车顬犵敪骞汇儏閿拷濮戙仮鍢庡ソ銉拷鐘拷纬鈹ф簩鐤点儌閾版车锝傚亾閳ユ顭婎嚪銉冦儮鍋撳綍鐩茶祩娼炶幗婕忔綖蹇欓垾鏂呯澒顕峰瘋鎹椼儖鍡忓妷姘撶倝楣跨尗鍗ら殕鑾芥嫥閳ョ伝鈹ф簩鐤点儌閾版车顬犵敪骞汇儏閿拷濮戙仮鍢庡ソ銉傘倐锟芥拋鈹ф簩鐤点儌閾帮拷 */
    /*  -webkit-box-shadow:3px 3px 10px #9edeff inset;
        box-shadow:3px 3px 10px #9edeff inset;*/
}
._outline:focus{
    outline: none;
}
._transparent{
    background: transparent;
}
.vertical_lr{
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}
.vertical_rl{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
._ellipsis{
    display:block;/*姘撻垾鐘拷纬顭婁讲锟芥緷銉傤嚪濮戭煀鐢埗鈹℃挴鍋撴皳鑹╄伣*/
    width:21em; /*蹇欒伣楣垮繖鑱у簮蹇欒尃閳ノ炽儮锟界妳寰椻斁锟矫峰禍锔癸拷鎾�鎳娿儌顔溾埗銇㈠厜锟斤拷*/
    word-break:keep-all;/* 鐩茶祩鑱у繖鑱у瀯鐚殕鑹� */
    white-space:nowrap;/* 鐩茶祩鑱у繖鑱у瀯鐚殕鑹� */
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis; 
    overflow: hidden;
}
._ellipsis_no{
    white-space: nowrap;
    overflow: hidden;
}
._text_justify_x_y{
    /*letter-spacing: 2em; */
    /*margin-right: -2em;*/ /*姘撴菠绂勮寘閳┾挋銇Ｎ垫挴鍋撴皳鑱菠鐩茶祩閳ь優銇㈠槑顎腹锟芥挴锟解埗銉傤厸锟芥枂顬ｂ檧锟界伝顬犫敒濂轿茬妳锟�*/
    /*姘撳▌閳ユ蔚涔濇拋鈹℃挴鍋撶尗濞勮仜y鐩茶祩闄嬫皳棰呴垾鏂嗐仮姒傜蛋鐩茶祩闄嬪繖閳ユ挴锟解埗銉傤厸锟芥枂銇㈠槑銇ｎ灎顏款嚫銉傤嚪濮戔敒閾版兎顕峰瘋鎹椼儖鍡忓妷鐩茶祩娼�(x-y)/(y-1),鐚┐閳┾挌鈹撅拷鈭ㄦ崡位婧岊嚫顕峰锟�4-2鑼傚綍閳ワ拷/(2-1)=2em */
}
table.gridtable {
    width: 100%;
    border: 1px solid #dadada;
    border-collapse: collapse;
    color:#666666;
}
table.gridtable th {
    border: 1px solid #dadada;
    padding-top: .5em;
    padding-bottom: .5em;
}
table.gridtable td {
    border: 1px solid #dadada;
    padding: .5em;
    background-color: #ffffff;
}
/* 鐚▌閳ョ妴褉锟借　锟斤拷 cover */
.bg_img_cover {
    /* size matters */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
/* 姘撹墬閳ノ炽儌鎯碉拷 contain */
.bg_img_contain {
    /* size matters */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

/* flex, fun */
.bg_img_percent {
    /* size matters */
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}

/* CSS Document */
html { font-size: 40px; }

/**鐟欙絽鍠呮い鐢告桨閸ョ姷缍夌紒婊堟６妫版ɑ鏂佹径褔妫舵０锟�**/
@media screen and(max-width:319px) {
  html { font-size: 17px }
}
@media screen and (min-width:320px) and (max-width:335px) {
  html { font-size: 18px }
}
@media screen and (min-width:336px) and (max-width:351px) {
  html { font-size: 19px }
}
@media screen and (min-width:352px) and (max-width:367px) {
  html { font-size: 20px }
}
@media screen and (min-width:368px) and (max-width:383px) {
  html { font-size: 21px }
}
@media screen and (min-width:384px) and (max-width:399px) {
  html { font-size: 22px }
}
@media screen and (min-width:400px) and (max-width:415px) {
  html { font-size: 23px }
}
@media screen and (min-width:416px) and (max-width:431px) {
  html { font-size: 24px }
}
@media screen and (min-width:432px) and (max-width:447px) {
  html { font-size: 25px }
}
@media screen and (min-width:448px) and (max-width:463px) {
  html { font-size: 26px }
}
@media screen and (min-width:464px) and (max-width:479px) {
  html { font-size: 27px }
}
@media screen and (min-width:480px) and (max-width:495px) {
  html { font-size: 28px }
}
@media screen and (min-width:496px) and (max-width:511px) {
  html { font-size: 29px }
}
@media screen and (min-width:512px) and (max-width:527px) {
  html { font-size: 30px }
}
@media screen and (min-width:528px) and (max-width:543px) {
  html { font-size: 31px }
}
@media screen and (min-width:544px) and (max-width:559px) {
  html { font-size: 32px }
}
@media screen and (min-width:560px) and (max-width:575px) {
  html { font-size: 33px }
}
@media screen and (min-width:576px) and (max-width:591px) {
  html { font-size: 34px }
}
@media screen and (min-width:592px) and (max-width:607px) {
  html { font-size: 35px }
}
@media screen and (min-width:608px) and (max-width:623px) {
  html { font-size: 36px }
}
@media screen and (min-width:624px) and (max-width:639px) {
  html { font-size: 37px }
}
@media screen and (min-width:640px) and (max-width:655px) {
  html { font-size: 38px }
}
@media screen and (min-width:656px) and (max-width:700px) {
  html { font-size: 39px }
}
@media screen and (max-width:750px) {
  html { font-size: 40px }
}
body { width: 100%; margin: 0 auto; font-weight: 300; text-shadow: none !important; }
/* 閸ュ墽澧栭懛顏堬拷鍌氱安 */
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ -ms-interpolation-mode: bicubic;/*娑撹桨绨￠悡褔銆恑e閸ュ墽澧栫紓鈺傛杹婢惰京婀�*/ }

.page{
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
html,body,.page{
  height: 100%;
}
/* 闁喚鍍电仦锟� */
.cover {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
}
.App{
  height: 100%;
}
.bg-qhg{
  height: 100%;
  background: #c9f0ff;
}
.download{
  position: relative;
  height: 9.85rem;
}
.download img{
  width: 100%;
  height: auto;
}
.download-info{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.download .copyright{
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
}
.sq-btn {
  display: block;
  color: #fff;
  width: 12.35rem;
  font-size: 0.85rem;
  line-height: 2.875rem;
  height: 2.875rem;
  text-align: center;
  overflow: hidden;
  border-radius: 2rem;
  text-indent: -99999px;
  background: url('../../images/tg/download.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  margin: 1rem auto 3rem;
}
.download-bg{
  background: #fdd80a;
}
.download-bg img{
  display: block;
}


.dialog{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000; 
  display: none;
}
.dialog .dialog-main{
        width: 75%;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: #fff;
    margin: 4rem auto;
    font-size: 0.65rem;
    text-align: center;
    color: #333;
    position: relative;
    z-index: 100;
}
.dialog .dialog-main .dialog-text{
         height: 3.8rem;
    font-size: 1.2rem;
}
.btn-group{
  overflow: hidden;
}
.btn-group .dialog-btn{
  float: left;
    width: 45%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    background: #a7a7a7;
    border-radius: 0.3rem;
    cursor: pointer;
}
.btn-group .dialog-btn:first-child{
  background-color: #f9e551;
  color: #333;
}
.btn-group .dialog-btn:first-child:active{
  background-color: #efda3e;
}
.btn-group .dialog-btn:nth-child(2){
  float: right;
}
.dialog .mask{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.5); 
}
.dialog-show{
  display: block;
}