@charset "utf-8";

html {
	cellspacing: 0;
	-webkit-text-size-adjust: none
}

body, html {
	list-style: none;
	font-family: '微软雅黑', Arial, "\5FAE\8F6F\96C5\9ED1"
}

a, blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, legend, li, ol, p, pre, span, td, textarea, th, ul {
	margin: 0;
	padding: 0;
	word-break: break-all;
	text-shadow: none
}

fieldset, img {
	border: 0
}

:focus {
	outline: 0 none
}

address, caption, cite, code, dfn, optgroup, strong, th, var {
	font-style: normal;
	font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}

button, input, optgroup, option, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

input[type=password], input[type=text], select {
	border: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}

input[disabled] {
	background: 0 0;
	color: #666 !important
}

abbr, acronym {
	border: 0;
	font-variant: normal
}

code, kbd, samp, tt {
	font-size: 100%
}

body {
	line-height: 1.7
}

ol, ul {
	list-style: none
}

li {
	vertical-align: bottom
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left
}

caption, th {
	text-align: left
}

sub, sup {
	font-size: 100%;
	vertical-align: baseline
}

ins {
	text-decoration: none
}

:link, :visited {
	text-decoration: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none
}

img {
	border: 0 none;
	vertical-align: middle
}

a, img {
	outline: 0
}

mark, time {
	background: 0 0;
	display: inline;
	font-family: Tahoma, Geneva, sans-serif
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

a {
	cursor: pointer;
	outline: 0;
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a:focus {
	outline: 0;
	-moz-outline: none
}

.fl {
	float: left
}

.fr {
	float: right
}

.hc {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}

.hide {
	display: none !important
}

em, i {
	font-style: normal
}

input, input[type=submit], input[type=reset], input[type=button] {
	-webkit-appearance: none;
	resize: none;
	border: none
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px none inset
}

input[type=password]:focus, input[type=text]:focus, textarea:focus {
	-webkit-box-shadow: 0 0 0 1000px none inset
}

a, article, aside, body, button, dd, details, div, dl, dt, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, img, input, li, menu, nav, ol, p, section, select, table, tbody, td, textarea, th, tr, ul {
	-webkit-tap-highlight-color: transparent
}

article, aside, details, figcaption, figure, footer, header, img, menu, nav, section {
	display: block
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	-ms-interpolation-mode: bicubic
}

html {
	font-size: 40px
}

@media screen and (max-width:319px) {
	html {
		font-size: 17px
	}

}

@media screen and (min-width:320px) and (max-width:335px) {
	html {
		font-size: 18px
	}

}

@media screen and (min-width:336px) and (max-width:351px) {
	html {
		font-size: 19px
	}

}

@media screen and (min-width:352px) and (max-width:367px) {
	html {
		font-size: 20px
	}

}

@media screen and (min-width:368px) and (max-width:383px) {
	html {
		font-size: 21px
	}

}

@media screen and (min-width:384px) and (max-width:399px) {
	html {
		font-size: 22px
	}

}

@media screen and (min-width:400px) and (max-width:415px) {
	html {
		font-size: 23px
	}

}

@media screen and (min-width:416px) and (max-width:431px) {
	html {
		font-size: 24px
	}

}

@media screen and (min-width:432px) and (max-width:447px) {
	html {
		font-size: 25px
	}

}

@media screen and (min-width:448px) and (max-width:463px) {
	html {
		font-size: 26px
	}

}

@media screen and (min-width:464px) and (max-width:479px) {
	html {
		font-size: 27px
	}

}

@media screen and (min-width:480px) and (max-width:495px) {
	html {
		font-size: 28px
	}

}

@media screen and (min-width:496px) and (max-width:511px) {
	html {
		font-size: 29px
	}

}

@media screen and (min-width:512px) and (max-width:527px) {
	html {
		font-size: 30px
	}

}

@media screen and (min-width:528px) and (max-width:543px) {
	html {
		font-size: 31px
	}

}

@media screen and (min-width:544px) and (max-width:559px) {
	html {
		font-size: 32px
	}

}

@media screen and (min-width:560px) and (max-width:575px) {
	html {
		font-size: 33px
	}

}

@media screen and (min-width:576px) and (max-width:591px) {
	html {
		font-size: 34px
	}

}

@media screen and (min-width:592px) and (max-width:607px) {
	html {
		font-size: 35px
	}

}

@media screen and (min-width:608px) and (max-width:623px) {
	html {
		font-size: 36px
	}

}

@media screen and (min-width:624px) and (max-width:639px) {
	html {
		font-size: 37px
	}

}

@media screen and (min-width:640px) and (max-width:655px) {
	html {
		font-size: 38px
	}

}

@media screen and (min-width:656px) and (max-width:700px) {
	html {
		font-size: 39px
	}

}

@media screen and (max-width:750px) {
	html {
		font-size: 40px
	}

}
body,html,.page{
	height: 100%;
	background: #fdfdfd;
}
body {
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	text-shadow: none !important
}

.page {
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto
}

.spread {
	background: #fdfdfd;
	padding-bottom: 1.7rem
}

.spread .title {
	font-size: .9rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #353030;
	line-height: 1.25rem;
	position: relative;
	text-indent: .5rem;
	margin: 1.5rem 1.625rem 0
}

.spread .title:after {
	content: '';
	position: absolute;
	left: 0;
	top: .25rem;
	width: .15rem;
	height: .8rem;
	background-color: #FF4883
}

.spread .protocol {
	font-size: .6rem;
	color: #CFCFCF;
	margin-top: .8rem;
	text-align: center
}

.spread .protocol img {
	width: .85rem;
	height: .85rem;
	margin-right: .5rem;
	display: inline-block;
	vertical-align: text-bottom
}

.spread .protocol a {
	color: #FF753F
}

.spread .logo {
	margin: 4.6rem auto 0;
	font-size: .7rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #353030;
	line-height: 1rem;
	text-align: center
}

.spread .logo img {
	width: 2.35rem;
	margin: 0 auto .3rem
}

.spread .list {
	margin: 0 1.625rem;
	box-sizing: border-box;
	border-radius: .625rem;
}

.spread .list .phone-number {
	font-size: 1.15rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #212c38;
	line-height: 1.625rem;
	margin: .5rem 0 1.5rem
}

.spread .list .item {
	height: 2rem;
	margin-bottom: 1rem;
	overflow: hidden;
	border-radius: 2.25rem;
	background-color: #F5F5F5
}

.spread .list .item .input-c {
	height: 2rem;
	position: relative;
	margin-left: .95rem
}

.spread .list .item .input-c input {
	width: 82%;
	font-size: .8rem;
	padding: .46rem 0;
	color: #333;
	background: 0 0
}

.spread .list .item .input-c .icon-close {
	position: absolute;
	right: .95rem;
	height: 2rem;
	width: 1rem;
	background: #F8F8F8 url(../images/icon-close.png) center center no-repeat;
	-webkit-background-size: 1rem auto;
	background-size: 1rem auto;
	z-index: 100;
	visibility: hidden
}

.spread .list .item.phone {
	background: #F5F5F5 url(../images/icon-phone.png) .95rem center no-repeat;
	-webkit-background-size: 1.05rem auto;
	background-size: 1.05rem auto
}

.spread .list .item.phone .input-c {
	margin-left: 2.4rem
}

.spread .list .item .yzm {
	width: 4.45rem;
	float: right;
	font-size: .7rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #FF5D84;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	cursor: pointer;
	position: relative
}

.spread .list .item .yzm a {
	display: block;
	color: #FF5D84
}

.spread .list .item .yzm.bdl:after {
	content: '';
	position: absolute;
	left: 0;
	top: .5rem;
	width: 1px;
	height: 1rem;
	background-color: #CFCFCF
}

.spread .list .item .yzm img {
	width: 100%;
	height: 100%
}

.spread .list .item.yz-code .input-c {
	width: 64%;
	float: left
}

.spread .list .item.find-psd .input-c {
	width: 68%;
	float: left
}

.spread .list .item.find-psd .yzm {
	width: 4rem
}

.spread .list .item.focus .icon-close {
	visibility: visible
}

.mart146 {
	margin-top: 3.65rem !important
}

.mart268 {
	margin-top: 6.7rem !important
}

.btn {
	display: block;
	font-size: .8rem;
	color: #fff;
	text-align: center;
	height: 2.2rem;
	line-height: 2.2rem;
	border-radius: 1.075rem;
	background: #cfcfcf;
	margin: 4.95rem auto 0
}

.btn.mart386 {
	margin-top: 9.65rem
}

.btn.mart78 {
	margin-top: 1.95rem
}

.btn.active {
	background: linear-gradient(90deg, #ff8c68 0, #f169cb 100%);
	box-shadow: 0 .225rem .35rem .05rem rgba(221, 132, 255, .5)
}

.hide {
	display: none !important
}

.user-info {
	margin: 2.15rem 0 3rem;
	text-align: center;
	font-size: .8rem;
	color: #353030;
	line-height: 1.15rem
}

.user-info em {
	color: #FB6587
}

.user-info .top img {
	width: 2.75rem;
	height: 2.75rem;
	margin-bottom: .85rem;
	display: inline-block
}

.user-info .top img.and {
	width: 1.3rem;
	height: 1.15rem;
	margin: 0 .9rem
}

.advantage {
	font-size: .7rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #5e5e5e;
	line-height: 1rem
}

.advantage p {
	margin-bottom: .5rem
}
.checkbox{
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	border: 1px solid #ff6f48;
	border-radius: 0.25rem;
	overflow: hidden;
	vertical-align: -0.1rem;
	margin-right: 0.25rem;
	cursor: pointer;
}
.checkbox.checked{
	background: url("../images/checked.png") 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}