<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>花生宝下载</title>
    <meta name="keywords" content="花生宝，1分钟认证，20分钟到账，无抵押，纯信用贷"/>
    <meta name="description" content="只要身份证可在花生宝借钱，无需抵押和担保，分分钟到账。"/>
    <meta http-equiv="Expires" content="-1"/>               
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/> 
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#7CD88E"/>
   <link rel="stylesheet" type="text/css" th:href="@{/css/tg/general.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tg/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tg/landing_page2.css}" />
    <script type="text/javascript"  th:src='@{/js/tg/jquery.min.js}'></script>
    <script type="text/javascript"  th:src='@{/js/tg/common.js}'></script>
    <script type="text/javascript"  th:src='@{/js/tg/m-layouts.js}'></script>
    <script type="text/javascript"  th:src='@{/js/tg/sonic.js}'></script>
    <script type="text/javascript">
    /*<![CDATA[*/
     var ohtml = document.documentElement;
        getSize();

        window.onresize = function(){
            getSize();
        }
        function getSize(){

            var screenWidth = ohtml.clientWidth;
            if(screenWidth <= 320){
                ohtml.style.fontSize = '17px';
            }else if(screenWidth >= 750){
                ohtml.style.fontSize = '40px';
            }else{
                ohtml.style.fontSize = screenWidth/(750/40)+'px';
            }
            
        }
        /*]]>*/
    </script>
</head>
<body class="download-bg">
    <div class="page">
   <img th:src="@{/images/tg/a-01.png}" alt=""/>
   <img th:src="@{/images/tg/a-02.png}" alt=""/>
   <div class="download">
     <img th:src="@{/images/tg/a-03.png}" class="ft-img" alt=""/>
     <div class="download-info">
         <a href="javascript:void(0);" id="download" onclick="_czc.push(['_trackEvent', 'app下载', '下载', 'app下载'])" class="sq-btn active download">立即下载</a>
         <div class="copyright">
            <p>上海乾昭信息技术有限公司 </p>
         </div>
     </div>
   </div>
</div>

<div class="share-wrap" style="
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;display:none;">
  <img th:src="@{/images/tg/wx_download.png}" onclick="hideWrap();" alt="" style="width: 100%;height: 100%;" />
</div>
<script th:inline="javascript">
/*<![CDATA[*/
/***隐藏wrap***/
function hideWrap(){
	$(".share-wrap").hide();
}
//判断数组中是否包含某字符串  
Array.prototype.contains = function(needle) {  
    for (i in this) {  
        if (this[i].indexOf(needle) > 0)  
            return i;  
    }  
    return -1;  
}
var u = navigator.userAgent;
var u = navigator.userAgent;
window.browser = {};
window.browser.wx = u.match(/MicroMessenger/);
window.browser.qq = u.match(/QQBrowser/);
var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
var model = "";

var href=[[${downUrl}]];
if (isAndroid) {
	var sss = u.split(";");  
    var i = sss.contains("Build/");
    if (i > -1) {  
        model = sss[i].substring(0, sss[i].indexOf("Build/")).toLowerCase();
        if(model.indexOf("vivo")>-1){
        	href=[[${android_vivo_down_url}]];
        }else if(model.indexOf("mz")>-1||model.indexOf("mx")>-1){
        	href=[[${android_mz_down_url}]];
        }else if(model.indexOf("oppo")>-1){
        	href=[[${android_oppo_down_url}]];
        }else if(model.indexOf("sm")>-1){
        	href=[[${android_sm_down_url}]];
        }else if(model.indexOf("huawei")>-1){
        	href=[[${android_huawei_down_url}]];
        }else{
        	href=[[${android_down_url}]]; 
        }
    }else{
    	href=[[${android_down_url}]]; 
    } 
} else if(isiOS){
	href=[[${ios_down_url}]];
}else{
	href=[[${android_down_url}]];
}
$(function(){
	
	//点击下载
	$("#download").click(function(){
		if (window.browser.wx||window.browser.qq) {
			$(".share-wrap").show();
			return;
		}
		location.href=href;
	})
})

/*]]>*/
</script>
<script type="text/javascript">
/*<![CDATA[*/
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273980685'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273980685' type='text/javascript'%3E%3C/script%3E"));
$("#cnzz_stat_icon_1273980685").hide();
/*]]>*/
</script>

</body>
</html>