<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>花生宝</title>
	<meta http-equiv="Expires" content="-1"/>               
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="no-cache"/> 
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/tg/index.css}" />
	<script type="text/javascript" th:src="@{/js/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}"></script>
<!--     <script type="text/javascript" th:src="@{/js/jquery.mobile-1.4.2.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/global-1.1.0.min.js}"></script>
	<script type="text/javascript"  th:src='@{/js/tg/index.js}'></script>
	
</head>
<body style="background: #63a4f2;">

<div class="page">
<form id="registerForm" action="#">
   <input type="text" name="channelCode" id="channelCode" th:value="${channelCode}" hidden="hidden" />
   <input type="text" name="RCaptchaKey" id="RCaptchaKey" th:value="${RCaptchaKey}" hidden="hidden" />
  <div class="wrapper spread">
    <img th:src="@{/images/tg/banner.png}" alt="banner" class="banner"/>
    <img th:src="@{/images/tg/banner-01.png}" alt="banner" />
        <div class="zc-info">
            <div class="title">快速注册</div>
            <ul class="dl_list">
            	
                <li>
                    <img th:src="@{/images/tg/phone.png}" alt="" class="icon" />
                    <div class="input_c">
                        <input type="tel" placeholder="注册手机号" maxLength="11" name="userPhone" id="userPhone"/>
                    </div>
                </li>
                 <li class="yz-code">
                    <img th:src="@{/images/tg/code-img.png}" alt="" class="icon" />
                    <div class="input_c">
                        <input type="text" name="captcha" id="captcha" placeholder="图形验证码" maxLength="4" />
                    </div>
                    <div class="verify-img">
                         <img th:src="@{/captcha.svl?(RCaptchaKey=${RCaptchaKey})}" id="captchaBtn" onclick="this.src = ('/captcha.svl?RCaptchaKey='+$('#RCaptchaKey').val()+'&amp;d=' + new Date() * 1)"/>
                    </div>
                </li>
                <li>
                    <img th:src="@{/images/tg/psd.png}" alt="" class="icon" />
                    <div class="input_c">
                        <input name="password" type="password" placeholder="请设置密码" maxLength="20" id="password"/>
                    </div>
                </li>
                <li class="yz-code noMar">
                    <img th:src="@{/images/tg/code.png}" alt="" class="icon" />
                    <div class="input_c">
                        <input name="smsCode" type="text" placeholder="手机验证码" maxLength="20" minLength="6" id="smsCode"/>
                    </div>
                    <div class="yzm">
                        <input type="button" value="获取验证码" readonly="true" id="btn" />
                    </div>
                </li>
            </ul>
            <div class="err-msg" id="errMsg"></div>
            <a href="javascript:void(0);" class="sq-btn active">立即卖手机</a>
        </div>
  </div>
  </form>
</div>

<!-- 弹窗 -->
<div class="dialog dialog-show" id="showDialog" style="display:none;">
  <div class="dialog-main">
    <div class="dialog-text" id="msgText">账号已注册，是否继续下载APP</div>
    <div class="btn-group">
     <a href="javascript:;" class="dialog-btn" onclick="goDownUrl();" style="width:100%">确定</a>
      <!-- <a href="javascript:;" class="dialog-btn" onclick="cancel();">取消</a> -->
    </div>
  </div>
  <div class="mask" onclick="cancel();"></div>
</div>
<div class="share-wrap" style="
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;display:none;">
  <img th:src="@{/images/tg/wx_download.png}" onclick="hideWrap();" alt="" style="width: 100%;height: 100%;" />
</div>
<script th:inline="javascript">
/*<![CDATA[*/
/***隐藏wrap***/
function hideWrap(){
	$(".share-wrap").hide();
}
//判断数组中是否包含某字符串  
Array.prototype.contains = function(needle) {  
    for (i in this) {  
        if (this[i].indexOf(needle) > 0)  
            return i;  
    }  
    return -1; 
}
var u = navigator.userAgent;
window.browser = {};
window.browser.wx = u.match(/MicroMessenger/);
window.browser.qq = u.match(/QQBrowser/);
var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
var model = "";

var href=[[${downUrl}]];
if (isAndroid) {
	var sss = u.split(";");
    var i = sss.contains("Build/");
    if (i > -1) {  
        model = sss[i].substring(0, sss[i].indexOf("Build/")).toLowerCase();
        if(model.indexOf("vivo")>-1){
        	href=[[${android_vivo_down_url}]];
        }else if(model.indexOf("mz")>-1||model.indexOf("mx")>-1){
        	href=[[${android_mz_down_url}]];
        }else if(model.indexOf("oppo")>-1){
        	href=[[${android_oppo_down_url}]];
        }else if(model.indexOf("sm")>-1){
        	href=[[${android_sm_down_url}]];
        }else if(model.indexOf("huawei")>-1){
        	href=[[${android_huawei_down_url}]];
        }else{
        	href=[[${android_down_url}]]; 
        }
    }else{
    	href=[[${android_down_url}]]; 
    } 
} else if(isiOS){
	href=[[${ios_down_url}]];
}else{
	href=[[${android_down_url}]];
}
  var wait=60;  
  function time(o) {  
          if (wait == 0) {  
              o.removeAttribute("disabled");            
              o.value="获取验证码";  
              wait = 60;
              o.setAttribute('class','');
          } else {
              o.setAttribute('class','wait'); 
              o.setAttribute("disabled", true);  
              o.value=wait + "s后重试";  
              wait--;  
              setTimeout(function() {  
                  time(o)  
              },  
              1000)  
          }  
   }
  window.onload = function(){
	    var clientHeight = document.documentElement.clientHeight; 
	    var timer = null; 
	    var isTop = true;

	    window.onscroll = function(){
	        var osTop = document.documentElement.scrollTop || document.body.scrollTop; 
	        if(!isTop){
	            clearInterval(timer);
	        }
	        isTop = false;

	    }
	   
	}
 // document.getElementById("btn").onclick=function(){time(this);}  
  $(function(){
	  $(".sq-btn").click(function(){
		  $(".err-msg").text("");
		  var userPhone=$("#userPhone").val();
		  var captcha=$("#captcha").val();
		  var password=$("#password").val();
		  var smsCode=$("#smsCode").val();
		  
		  if(!userPhone){
			  /* $(".err-msg").text("请输入手机号码"); */
			  $("#msgText").text("请输入手机号码");
			  $("#showDialog").show();
			  return;
		  }
		  
		  var re = /^1\d{10}$/
		  if (!re.test(userPhone)) {
			  $("#msgText").text("请输入正确的手机号码");
			  $("#showDialog").show();
			  /* $(".err-msg").text("请输入正确的手机号码"); */
			  return;
		  }
		 
		  if(!password){
			  $("#msgText").text("请输入密码");
			  $("#showDialog").show();
			  $(".err-msg").text("请输入密码");
			  return;
		  }
		  if(!smsCode){
			  $("#msgText").text("请输入短信验证码");
			  $("#showDialog").show();
			  $(".err-msg").text("请输入短信验证码");
			  return;
		  }
		  
  	      var reg = new RegExp(/^[a-zA-Z0-9]+$/);
		  /* var reg = new RegExp(/^(?![^a-zA-Z]+$)(?!\D+$)/); */
	      if (!reg.test(password)||password.length>20){
	    	  $(".err-msg").text("密码为20位内字母或数字");
			return;
	      }
  	      
  	      var channelCode=$("#channelCode").val();
  	      
  	     $.ajax({
            type   : "post",
            async:false,
            data   : {userPhone: userPhone,password: password,smsCode: smsCode,channelCode: channelCode},
            url    : [[@{/borrowUser/tgRedister}]],
            success: function (resp) {
          	  var date = eval('(' + resp + ')');
          	  if(date.code==1){
          		    $("#msgText").text("账号已注册，是否继续下载APP?");
        		    $("#showDialog").show();
        	  }else if(date.code=='-1'){
	      		  $(".err-msg").text(date.message);
	      	  }else if(date.code=='0'){
	      		 $("#msgText").text("账号注册成功，下载APP");
      		     $("#showDialog").show();
	      	  }
          	  
            }
        }); 
		  
		  
	  });
	  
	  
	  $("#btn").click(function(){
		  var userPhone=$("#userPhone").val();
		  if(!userPhone){
			  /* $(".err-msg").text("请输入手机号码"); */
			  $("#msgText").text("请输入手机号码");
			  $("#showDialog").show();
			  return;
		  }
		  
		  var re = /^1\d{10}$/
		  if (!re.test(userPhone)) {
			  /* $(".err-msg").text("请输入正确的手机号码"); */
			  $("#msgText").text("请输入正确的手机号码");
			  $("#showDialog").show();
			  return;
		  }

		  var captcha=$("#captcha").val();
		/*   if(!captcha){
			  $(".err-msg").text("请先输入图形验证码");
			  return;
		  } */
		  var RCaptchaKey=$("#RCaptchaKey").val();
		  
		  $(".err-msg").text("");
		
		  var isSuccess=false;
		  $.ajax({
              type   : "post",
              async:false,
              data   : {userPhone: userPhone,captcha: captcha,RCaptchaKey: RCaptchaKey},
              url    : [[@{/sms/getSmsCodeCaptcha}]],
              success: function (resp) {
            	  var date = eval('(' + resp + ')');
            	  if(date.code==1){
            		  $("#msgText").text("账号已注册，是否继续下载APP?");
            		  $("#showDialog").show();
            	  }else{
            		  $(".err-msg").text(date.message);
            	  }
            	  if(parseInt(date.code)<0){
	           		  if(date.code=='-2'){
	           			  $("#captchaBtn").click();
	           			  $("#captcha").val("");
	           			  $("#captcha").focus();
	           		  }
            	  }else{
	            	  isSuccess=true;
            	  }
              }
          }); 
		  
		  if(isSuccess){
			  time(this);
		  }
		  
	  });
	  
  }); 
  
//去下载
  function goDownUrl(){
	 /*  if (window.browser.wx||window.browser.qq) {
			$(".share-wrap").show();
			return;
	  } */
		location.href=href;
	  $("#showDialog").hide();
  }
  
  //取消
  function cancel(){
	  $("#showDialog").hide();
  }
  /*]]>*/
  </script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?15c6e4500d03aab516d3ae04155660f7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>