<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>火星快车</title>
  <meta name="description" content="火星快车" />
  <meta name="keywords" content="火星快车" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
</head>
<body>
 <div class="bg">
     <!-- header -->
     <div class="header header-fixed">
         <div class="header-main clearfix">
             <h1 class="logo">
                 <a href="index.html">
                     <img src="images/logo.png" alt=""/>
                     火星快车
                 </a>
             </h1>
             <ul class="nav">
                 <li><a href="index.html" class="w82">产品/服务</a></li>
                 <li><a href="knowledge.html">知识普及</a></li>
                 <li class="active"><a href="aboutUs.html">关于我们</a></li>
             </ul>
         </div>
     </div>
    <div class="wrap clearfix">
        <div class="banner-img">
            <img src="images/banner_03.png" alt="" class=""/>
        </div>
        <div class="company-profile">
            <div class="w1012">
                <div class="title">公司简介</div>
                <div class="profile-info">
                    <p>英科信息（前身为融宝科技），隶属于上海主林金融信息服务有限公司，成立于2013年3月，是你一家专业从事互联网金融资产交易平台研发、信息咨询服务、金融云管理系统研发的专业服务商。英科信息致力于为互联网金融从业者提供更好的系统与更有效的数据信息分析，让传统金融从业者实现全面信息化。</p>
                    <p>互联网金融需要顶尖的IT技术确保系统安全与高效；完美的运营能力提升用户流量；先进的产品交易体系促进市场活跃；全面的风控体系确保资产安全。英科的核心团队均来自国内外知名金融机构以及互联网公司，我们深谙此道，所以能更好地理解互联网金融客户的需求，在技术、运营、产品构架、风控体系上，均能提供成熟的完整解决方案。此外，英科积极获取外部专业领域的合作支持，实现与IBM、KEEN的技术合作，BAT的运营支持，以及与德国IPC共同研发金融产品模型。</p>
                    <p>发展至今，英科已成功为600+客户提供互联网金融解决方案，并与400+客户建立了长期合作关系。丰富的金融产品研发运营经验与优秀的合作渠道资源，英科是您在互联网金融领域的最佳合作伙伴。</p>
                </div>
            </div>
        </div>
        <div class="friend-link">
          <h2>合作机构</h2>
          <ul>
            <li>
              <a href="javascript: void (0);"><img src="./images/partner_01.png" alt=""/></a>
            </li>
            <li class="margin28">
              <a href="javascript: void (0);"><img src="./images/partner_02.png" alt=""/></a>
            </li>
            <li>
              <a href="javascript: void (0);"><img src="./images/partner_03.png" alt=""/></a>
            </li>
            <li>
              <a href="javascript: void (0);"><img src="./images/partner_04.png" alt=""/></a>
            </li>
            <li class="margin28">
              <a href="javascript: void (0);"><img src="./images/partner_05.png" alt=""/></a>
            </li>
            <li>
              <a href="javascript: void (0);"><img src="./images/partner_06.png" alt=""/></a>
            </li>
          </ul>
        </div>
    </div>

     <!--footer-->
   <div class="footer">
     <div class="footer-in clearfix">
       <div class="company-contact">
         <h3><img src="./images/logo.png" alt=""/>火星快车</h3>
         <p>客服热线：010-72829298（周一至周五9:30-18:30)</p>
         <p>商务合作：bd@iyingke.cn</p>
         <p>公司地址：上海市长宁区明基商务广场D座601室</p>
       </div>
       <div class="code">
         <img src="./images/code.png" alt=""/>
         <p>火星快车公众号</p>
       </div>

     </div>
     <div class="copyright">
       <p>Copyright @2018 上海主林金融信息服务股份有限公司</p>
        <p><a style="color: #c8c8c8;text-decoration: none" href="http://www.miitbeian.gov.cn">沪ICP备18006121号</a></p>
     </div>
   </div>

 </div>
</body>
</html>