<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>支付</title>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body style="background: #FDFDFD;">
<div class="page">
    <div class="wrapper">
        <div class="resault">
            <img th:src="@{/images/success.png}" alt="" />
            <h3>支付成功！</h3>
            <p>处理结果有2-3分钟的延迟，</p>
            <p>请耐心等待...</p>
            <a href="/fuiou/suc" class="btn active">完成</a>
        </div>

    </div>
</div>
</body>
</html>