<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>火星快车</title>
    <meta name="description" content="火星快车" />
    <meta name="keywords" content="火星快车" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <style type="text/css">
        .info-list img{
            margin-right: 0;
        }
    </style>
</head>
<body>
 <div class="bg">
     <!-- header -->
     <div class="header header-fixed">
         <div class="header-main clearfix">
             <h1 class="logo">
                 <a href="index.html">
                     <img src="images/logo.png" alt=""/>
                     火星快车
                 </a>
             </h1>
             <ul class="nav">
                 <li class="active"><a href="index.html" class="w82">产品/服务</a></li>
                 <li><a href="knowledge.html">知识普及</a></li>
                 <li><a href="aboutUs.html">关于我们</a></li>
             </ul>
         </div>
     </div>
    <div class="wrap clearfix">
        <div class="banner-img">
            <img src="images/banner.png" alt="" class=""/>
        </div>
        <div class="process">
            <h2 class="title">入驻流程</h2>
            <dl class="step">
                <dd>
                    <img src="images/step_01.png" alt="" />
                </dd>
                <dd>
                    <img src="images/step_02.png" alt="" />
                </dd>
                <dd>
                    <img src="images/step_03.png" alt="" />
                </dd>
                <dd>
                    <img src="images/step_04.png" alt="" />
                </dd>
                <dd class="noMargin">
                    <img src="images/step_05.png" alt="" />
                </dd>
            </dl>
        </div>
        <div class="info-list" style="background: #fafafa;">
            <div class="w1012 clearfix">
                <img src="./images/icon_02.png" alt="" />
                <div class="info-list-r">
                    <h2>贷前引流</h2>
                    <p>全面的获客+风控解决方案，为每家商户提供定制化的H5引流客户端，商户自由投放不同渠道，帮助客户定制专业金融系统，以便更好更快获取优质资源</p>
                </div>
            </div>
        </div>
        <div class="info-list" style="background: #fff;">
            <div class="w1012 clearfix">
                <img src="./images/icon_03.png" alt="" class="fr" />
                <div class="info-list-r fl">
                    <h2>贷中风控</h2>
                    <p>依托多年网贷行业经验，具有百亿级放款量考验的可靠风控系统，并积累了含金量极高的网贷行业黑名单数据库，对接多种大数据源，满足机构对于客户资源的用户基本信息真伪判断、借贷欺诈、借贷黑名单等等信息，能1秒内判断放款的安全性</p>
                </div>
            </div>
        </div>
        <div class="info-list" style="background: #fafafa;">
            <div class="w1012 clearfix">
                <img src="./images/icon_01.png" alt="" />
                <div class="info-list-r">
                    <h2>贷后管理</h2>
                    <p>运营数据的及时、全面统计是做出正确决策的关键，7*24小时监测渠道数据及运营数据效果，帮助筛选高效的推广渠道，控制运营成本，提升营业利润，有效优化业务流程中各个环节,真实做到业务规划化、高效化的管理业务</p>
                </div>
            </div>
        </div>
    </div>

     <!--footer-->
     <div class="footer">
         <div class="footer-in clearfix">
             <div class="company-contact">
                <h3><img src="./images/logo.png" alt=""/>火星快车</h3>
                 <p>客服热线：021-60643106（周一至周五9:30-18:30)</p>
                 <p>商务合作：bd@iyingke.cn</p>
                 <p>公司地址：上海市长宁区明基商务广场D座601室</p>
             </div>
             <div class="code">
                 <img src="./images/code.png" alt=""/>
                 <p>火星快车公众号</p>
             </div>

         </div>
         <div class="copyright">
             <p>Copyright @2018 上海主林金融信息服务股份有限公司</p>
             <p><a style="color: #c8c8c8;text-decoration: none" href="http://www.miitbeian.gov.cn">沪ICP备18006121号</a></p>
         </div>
     </div>

 </div>
</body>
</html>