<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-1.4.2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/other.css}"/>

    <script type="text/javascript" th:src="@{/js/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper-3.3.1.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mobile-1.4.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="ui-page ui-page-theme-a ui-page-active" data-role="page" style="background:#fff;">
    <!--<div class="header" style="background:#fff;">-->
        <!--<a class="back_arr blue-arrow" href="javascript:location.go(-1)"></a>-->
        <!--<h1 style="color:#333;">新手指导</h1>-->
    <!--</div>-->
    <!-- main start -->
    <div class="wrapper guide">
        <ul>
            <li>
                <h2 style="color:#2f7cff">一、找到贷款入口，选择金额范围</h2>
                <p>打开趣回购APP，可根据自己的贷款需求，从首页热门推荐选择或选择借款金额范围，点击确认借款按钮进入相应金额产品列表页。也可点击贷款超市进入产品列表选择贷款金额、类型等。</p>
                <img th:src="@{images/addimages/add_01.jpg}" alt=""/>
            </li>
            <li>
                <h2 style="color:#2f7cff">二、选择合适的贷款产品</h2>
                <p>进入产品列表后，根据产品品牌、产品特点、月利率等，选择适合您的贷款产品。</p>
                <img th:src="@{images/addimages/add_02.png}" alt=""/>
            </li>
            <li>
                <h2 style="color:#2f7cff">三、填写金额并立即申请</h2>
                <p>在贷款产品的详情页面，填写贷款金额并选择期限，点击立即申请，根据不同贷款产品的要求填写个人信息及验证材料进行贷款申请。确保填写的资料真实完整，贷款申请通过率更高哦。</p>
                <img th:src="@{images/addimages/add_03.png}" alt=""/>
            </li>
        </ul>

    </div>
    <!-- main end -->
</div>
</body>
</html>