<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>支付</title>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body style="background: #FDFDFD;">
<div class="page">
    <div class="wrapper">
        <div class="resault" th:if="${msg == null}">
            <img th:src="@{/images/fail.png}" alt="" />
            <h3>支付失败！</h3>
            <a href="/fuiou/fail" class="btn active">返回重试</a>
        </div>

        <div class="resault" th:if="${msg != null}">
            <img th:src="@{/images/fail.png}" alt="" />
            <h3 th:text="${msg}">支付失败！</h3>
        </div>
    </div>
</div>
</body>
</html>